.header-container[b-k2250ibyrc] {
    /*position: sticky;*/ /* or use 'fixed' if you want it always visible */
    top: 0;
    z-index: 1000; /* ensure it stays on top of other elements */
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: white; /* optional: to prevent transparency overlap */
}

.main-content[b-k2250ibyrc] {
    flex: 1;
    padding: 16px;
    overflow: auto;
}

    .main-content.shifted[b-k2250ibyrc] {
        margin-left: 240px;
    }

    .main-content.expanded[b-k2250ibyrc] {
        margin-left: 60px;
    }

.top-header[b-k2250ibyrc] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: white;
}

.left-section[b-k2250ibyrc] {
    display: flex;
    align-items: center;
}

.logo[b-k2250ibyrc] {
    height: 50px;
    margin-right: 16px;
}

.agency-text[b-k2250ibyrc] {
    display: flex;
    flex-direction: column;
}

.republic[b-k2250ibyrc] {
    font-size: 14px;
}

.agency-name[b-k2250ibyrc] {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.agency-tagline[b-k2250ibyrc] {
    font-size: 14px;
}

.right-section[b-k2250ibyrc] {
    margin-left: 40%;
    width: auto;
}

.time-text[b-k2250ibyrc] {
    text-align: right;
    font-size: 14px;
}

.bagong-logo[b-k2250ibyrc] {
    height: 60px;
    margin-right: 20%;
}

.time-label[b-k2250ibyrc] {
}

.header-main[b-k2250ibyrc] {
    top: unset;
    position: relative;
}

.custom-overlay[b-k2250ibyrc] {
    position: fixed;
    top: 64px; /* Height of the AppBar */
    left: 0;
    width: 100%;
    height: calc(100% - 64px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1100; /* Just below MudDrawer z-index */
}
