/*﻿.header-container {*/
    /*position: sticky;*/ /* or use 'fixed' if you want it always visible */
    /*top: 0;
    z-index: 1000;*/ /* ensure it stays on top of other elements */
    /*display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: white;*/ /* optional: to prevent transparency overlap */
/*}

.main-content {
    flex: 1;
    padding: 16px;
    overflow: auto;
}

    .main-content.shifted {
        margin-left: 240px;
    }

    .main-content.expanded {
        margin-left: 60px;
    }

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: white;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 16px;
}

.agency-text {
    display: flex;
    flex-direction: column;
}

.republic {
    font-size: 14px;
}

.agency-name {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.agency-tagline {
    font-size: 14px;
}

.right-section {
    margin-left: 40%;
    width: auto;
}

.time-text {
    text-align: right;
    font-size: 14px;
}

.bagong-logo {
    height: 60px;
    margin-right: 20%;
}

.time-label {
}

.header-main {
    top: unset;
    position: relative;
}

.custom-overlay {
    position: fixed;
    top: 64px;*/ /* Height of the AppBar */
    /*left: 0;
    width: 100%;
    height: calc(100% - 64px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1100;*/ /* Just below MudDrawer z-index */
/*}*/
